* {
    box-sizing: border-box;
}
.pageHeader {
    width: 100%;
    background: white;
    padding: 30px;
    margin-top: 0;
    position: relative;
}

body {
    background: gray;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    display: block;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
    background: teal;
    padding: 30px;
    margin-bottom: 20px;
    width: 200px;
    float: left;
    position: absolute;
    font-size: 32px;
    text-align: center;
}

.menu {
    float:right;
}

.wrapper {
    clear: both;
    width: 600px;
    background: white;
    margin: auto;
}

p {
    line-height: 150%;
}