* {
    box-sizing: border-box;
}

.pageHeader {
    width: 100%;
    background: white;
    padding: 30px;
    margin-top: 0;
    position: relative;
    border: 1px white;
    border-radius: 8px;
    margin-bottom: 40px;
}

body {
    background: gray;
    margin: auto;
}

.name {
    color: white;
    background: teal;
    padding: 14px;
    margin-bottom: 20px;
    width: 200px;
    float: left;
    position: absolute;
    font-size: 32px;
    text-align: center;
    top: 0px;
    left: 290px;
    border: 1px teal;
    border-radius: 8px;
}

.menu {
    font-size: 20px;
    position: absolute;
    top: 18px;
    right: 290px;
}

.wrapper {
    width: 960px;
    background: white;
    margin: auto;
    border: 1px white;
    border-radius: 8px;
    padding: 20px;
}

p {
    line-height: 150%;
}
.aboutMe {
    font-size: 32px;
    color: teal;
    padding: 10px;
    margin-left: 10px;
}

#aboutImage {
    width: 200px;
    height: auto;
    margin: 20px;
    float: left;
}

p {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}